<%- include('../includes/start-part.ejs') %> <%- include('../includes/head.ejs')
%>

<body>
  <div class="container">
    <%- include('../includes/header.ejs') %>
    <div class="row mt-5 d-flex justify-content-around">
      <!-- 로그인 -->
      <div
        class="col-4 border border-light shadow shadow-sm rounded p-4 d-flex flex-column justify-content-around"
      >
        <form action="/login" method="POST">
          <h4 class="text-center pb-4">로그인</h4>
          <div class="form-row p-2">
            <label for="inputEmail">이메일</label>
            <input
              type="text"
              class="form-control"
              name="email"
              id="input-email"
              style="height: 30px;"
            />
          </div>
          <div class="form-row p-2">
            <label for="inputPassword">비밀번호</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="inputPassword"
              style="height: 30px;"
            />
          </div>
          <br />
          <div>
            <button type="submit" class="btn btn-primary btn-sm btn-block mt-3">
              로그인
            </button>
          </div>
        </form>
      </div>
      <!-- 회원가입 -->
      <div
        class="col-5 border border-light shadow shadow-sm rounded p-4 d-flex flex-column justify-content-around"
      >
        <form action="/signup" method="POST">
          <h4 class="text-center pb-4">회원가입</h4>
          <div class="form-row p-2">
            <label for="inputEmail4">이름</label>
            <input
              type="name"
              class="form-control"
              name="name"
              id="inputName"
              style="height: 30px;"
            />
          </div>
          <div class="form-row p-2">
            <label for="inputEmail4">이메일</label>
            <input
              type="email"
              class="form-control"
              name="email"
              id="inputEmail"
              style="height: 30px;"
            />
          </div>
          <div class="form-row p-2">
            <label for="inputPassword">비밀번호</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="inputPassword"
              style="height: 30px;"
            />
          </div>
          <div class="form-row p-2">
            <label for="inputSchool">학교</label>
            <input
              type="text"
              class="form-control"
              name="schoolName"
              id="inputSchool"
              style="height: 30px;"
            />
          </div>
          <br />
          <div>
            <button type="submit" class="btn btn-primary btn-sm btn-block mt-3">
              회원 가입
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('../includes/footer.ejs') %>
</body>
<%- include('../includes/end-part.ejs') %>
