<%- include('../includes/start-part.ejs') %>
<%- include('../includes/head.ejs') %>

<body>
  <div class="container">
    <%- include('../includes/header.ejs') %>

    <div class="row">
      <%- include('../includes/profile.ejs') %>

      <div class="col-8">
        <form action="/add-post" method="POST">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="title"
              id="title"
              placeholder="제목을 입력해 주세요."
            />
          </div>
          <!-- 내용 작성-->
          <div class="form-group">
            <textarea
              class="form-control"
              name="content"
              id="write-contents"
              rows="19"
              placeholder="내용을 입력해 주세요."
            ></textarea>
          </div>
          <input type="submit" class="btn btn-primary btn-sm" value="글쓰기" />
        </form>
      </div>

      <%- include('../includes/rank.ejs') %>
    </div>
  </div>

  <%- include('../includes/footer.ejs') %>
</body>
<%-include('../includes/end-part.ejs') %>
