<%- include('../includes/start-part.ejs') %>
<%- include('../includes/head.ejs') %>

<body>
  <div class="container">
    <%- include('../includes/header.ejs') %>

    <div class="row">
      <%- include('../includes/profile.ejs') %>

      <div class="col-8">
        <div class="title">
          <h4><%= post.title %></h4>
        </div>
        <div class="create-date"><%= post.createdAt.getFullYear() %> 년 <%= post.createdAt.getMonth()+1 %> 월 <%= post.createdAt.getDate() %> 일</div>
        <div class="author"><%= creator.name %></div>
        <hr />
        <div class="board-contents">
          <%= post.content %>
        </div>
      </div>

      <%- include('../includes/rank.ejs') %>
    </div>
  </div>

<%- include('../includes/footer.ejs') %>
</body>
<%- include('../includes/end-part.ejs') %>

