<%- include('../includes/start-part.ejs') %>
<%- include('../includes/head.ejs') %>

<body>
  <div class="container">
    <%- include('../includes/header.ejs') %>

    <div class="row">
      <%- include('../includes/profile.ejs') %>

      <div class="col-8">
        <div class="row">
          <table class="table">
            <thead class="table-primary">
              <tr>
                <th class="text-center" scope="col" width="10%">번호</th>
                <th class="text-center" scope="col" width="60%">제목</th>
                <th class="text-center" scope="col" width="30%">글쓴이</th>
              </tr>
            </thead>
            <tbody>
              <% posts.forEach((post,idx) => { %>
              <tr>
                <td class="post_id text-center"><%= idx+1 %></td>
                <td class="title text-truncate">
                  <a href="/post/<%= post.id %>"><%= post.title%></a>
                </td>
                <td class="author text-center "><%= post.creator %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>

      <%- include('../includes/rank.ejs') %>
    </div>
  </div>

  <%- include('../includes/footer.ejs') %>
</body>
<%- include('../includes/end-part.ejs') %>
