<%- include('./includes/start-part.ejs') %>
<%- include('./includes/head.ejs') %>
<body>
  <div class="container">
  <%- include('./includes/header.ejs') %>

  <div class="text-center m-5">
    <h1 class="p-5" style="font-size:90px">404</h1>
    <h3 class="pb-5" style="font-size:30px">페이지를 찾을 수 없습니다.</h3>
  </div>
</div>
<%- include('./includes/footer.ejs') %>
</body>
<%- include('./includes/end-part.ejs') %>